<%- include('../partials/header.ejs') %>

    <main class="item__page">
      <section class="item container">
        <picture class="item__img">
          <img class="card-item__img--front" src="<%= item.image_front %>" alt="<%= item.product_description %>" />
          <img class="card-item__img--back" src="<%= item.image_back %>" alt="<%= item.product_description %> BOX" />
        </picture>

        <article class="item__content">
          <p class="item__license"><%= item.licence_name %></p>
          <h1 class="item__title"><%= item.product_name %></h1>
          <p class="item__description"><%= item.product_description %></p>
          <p class="item__price"><%= item.price %></p>

          <div class="item__carrito--article">
            <div class="flex">
              <input class="item__cantidad" placeholder="0" />
              <div class="amount_buttons">
                <button class="amount_button increment">+</button>
                <button class="amount_button decrement">-</button>
              </div>
            </div>
            <input
              class="item__add-cart"
              type="button"
              value="Agregar al Carrito"
            />
          </div>

          <a class="item__pago--article" href="#">
            <span class="item__pago--border">Ver métodos de pago</span> - <%= item.dues %>
            CUOTAS SIN INTERÉS
          </a>
        </article>

        <div class="item__carrito">
          <div class="flex">
            <input
              class="item__cantidad"
              type="number"
              name="cantidad-item"
              id="cantidad-item"
              placeholder="0"
            />
            <div class="amount_buttons">
              <button class="amount_button increment">+</button>
              <button class="amount_button decrement">-</button>
            </div>
          </div>
          <input
            class="item__add-cart"
            type="button"
            name="cantidad-button"
            id="cantidad-button"
            value="Agregar al Carrito"
          />
        </div>

        <a class="item__pago" href="#">
          <span class="item__pago--border">Ver métodos de pago</span> - <%= item.dues %> CUOTAS
          SIN INTERÉS
        </a>
      </section>

      <section class="slider container glide">
        <h3 class="slider__title">PRODUCTOS RELACIONADOS</h3>
        <div class="glide__track" data-glide-el="track">
          <ul class="slider__list glide__slides">
            <% items.forEach(item => { %>
              <li class="slider__item glide__slide">
                <article class="card-item">
                  <a class="card-item__link" href="/shop/item/<%= item.product_id %>">
                    <picture class="card-item__img">
                      <span class="card-item__tag">NUEVO</span>
                      <img
                        class="card-item__img--front"
                        src="<%= item.image_front %>"
                        alt="<%= item.product_description %> BOX"
                      />
                      <img
                        class="card-item__img--back"
                        src="<%= item.image_back %>"
                        alt="<%= item.product_description %> BOX"
                      />
                    </picture>
                    <div class="card-item__content">
                      <p class="card-item__license"><%= item.licence_name %></p>
                      <h3 class="card-item__name"><%= item.product_name %></h3>
                      <p class="card-item__price">$ <%= item.price %></p>
                      <p class="card-item__offer"><%= item.dues %> CUOTAS SIN INTERÉS</p>
                    </div>
                  </a>
                </article>
              </li>
            <% }) %>
          </ul>
        </div>

        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <iconify-icon
              class="slider__chevron"
              icon="tabler:chevron-left"
            ></iconify-icon>
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <iconify-icon
              class="slider__chevron"
              icon="tabler:chevron-right"
            ></iconify-icon>
          </button>
        </div>
      </section>
    </main>

    <%- include ('../partials/footer.ejs') %>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="/scripts/menu.js"></script>
    <!-- <script src="/script/inputs.js"></script> -->
    <script src="/scripts/slider.js"></script>
  </body>
</html>
